.hbox{
	-fx-border-style: solid inside;
	-fx-border-width:1;
	-fx-border-color: gray;
}
.vbox-border-menu{
	-fx-background-color: #E8E8E8;
	-fx-border-style: solid inside;
	-fx-border-width:1;
	-fx-border-color: #989898;
}

/* menu styles */
#itemsMenu, #bidsButton, #boughtsButton, #wishlistMenu{
	-fx-font-size: 25px;
}

#profilMenu, #logout{
	-fx-font-size: 15px;
	-fx-min-width: 150px;
	-fx-background-color: #e0e0e0;
	-fx-border-color: gray;
}
#profilMenu:pressed, #logout:pressed{
	-fx-background-color: #cccccc;
}

#listItems{
	-fx-min-width: 150px;
	-fx-background-color: #e0e0e0;
	-fx-border-color: gray;
}
#listItems:pressed{
	-fx-background-color: #cccccc;
}