.button {
-fx-background:none;
-fx-border:4px solid;
-fx-color:#3498db;
-fx-text-transform:uppercase;
-fx-cursor:pointer;
-fx-font-size:16px;
}
.button::before,.button::after{
	-fx-content:"";
	-fx-position:absolute;
	-fx-width:14px;
	-fx-height:4px;
	-fx-background:red;
	-fx-transform:skewX(50deg);
	-fx-transition:.4s linear;
}
.button::before{
	-fx-top:-4px;
	-fx-left:10%;
}
.button::after{
	-fx-bottom:-4px;
	-fx-right:10%;
}
.button:hover::before{
	-fx-left:80%;
	
}
.button:hover::before{
	-fx-right:80%;
	
}